<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <application>
    <receiver android:name=".AlarmReceiver" android:exported="false" />
    <receiver android:name=".BootReceiver" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWER_ON" />
      </intent-filter>
    </receiver>
    <service
      android:name=".AlarmService"
      android:exported="false"
      android:foregroundServiceType="mediaPlayback" />
  </application>
</manifest>
