# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native (React Native build artifacts)
*.apex
*.log
*.symbols
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.jks
*.keystore

# Android
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties
android/.cxx/
android/app/.cxx/
android/app/index.ts
.android/

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local
ios/**/.xcode.env.local
*.ipa
*.apk
*.aab

# Environment variables
.env
.env.local
.env.*.local

# Optional: uncomment if you keep secrets in app.config
# app.config.js
# app.config.json